
.InputDiv{
	font-family: 'Courier New', Courier, monospace;
}

textarea{
	width: 30em;
	height: 10em;
}

input{
	width:30em;
	height:2em;
}

#clone1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
}

label{
	margin-right: 5em;
}
